[Desktop Entry]
Name=Postman
Comment=Postman
Exec=/opt/Postman/Postman
Icon=/opt/postman.png
Terminal=false
Type=Application
#Categories=Programming;
